# Gradle
.gradle/
caches/
daemon/
native/
.kotlin/
.kotlin-profile/
.tmp/

# Android Studio / IntelliJ
.idea/
*.iml
/wrapper
/kotlin-profile

# Local configuration
local.properties

# Build output
build/
**/build/

# Native build
.cxx/
.externalNativeBuild/

# Captures
captures/

# OS
.DS_Store
Thumbs.db